BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "user_sclk" SITE "14";
IOBUF PORT "user_sclk" IO_TYPE=LVCMOS33;
LOCATE COMP "user_mosi" SITE "17";
IOBUF PORT "user_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "user_cs" SITE "20";
IOBUF PORT "user_cs" IO_TYPE=LVCMOS33;
LOCATE COMP "user_led0" SITE "13";
IOBUF PORT "user_led0" IO_TYPE=LVCMOS33;
LOCATE COMP "Dout" SITE "16";
IOBUF PORT "Dout" IO_TYPE=LVCMOS33;

FREQUENCY NET "osch_clk" 16.432499999999997 MHz;